.percentGraph{
  font-size: 16px;
  font-weight: 600;
}

.green{
  color: #00b69b;
}

.red{
  color: #F93C65;
}

p-avatar{
  width: 60px; height: 60px;
}


.cardTitle{
  font-size: 16px;
    font-weight: 600;
    color: #20222491;
}

.cardValue{
  font-size: 28px;
  color: #202224;
  font-weight: 700;
}
