<p-menubar [model]="items">
  <ng-template pTemplate="start">
      <svg width="33" height="35" viewBox="0 0 33 35" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="..." fill="var(--primary-color)" />
          <mask id="mask0_1_36" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="31" height="33">
              <path d="..." fill="var(--primary-color-text)" />
          </mask>
          <g mask="url(#mask0_1_36)">
              <path fill-rule="evenodd" clip-rule="evenodd" d="..." />
          </g>
          <path d="..." fill="var(--primary-color-text)" />
          <path d="..." fill="var(--primary-color-text)" />
          <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="..."
              fill="var(--primary-color-text)"
          />
          <path d="..." fill="var(--primary-color-text)" />
          <path d="..." fill="var(--primary-color-text)" />
          <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="..."
              fill="var(--primary-color-text)"
          />
          <path d="..." fill="var(--primary-color-text)" />
          <path d="..." fill="var(--primary-color-text)" />
          <path d="..." fill="var(--primary-color-text)" />
          <path d="..." fill="var(--primary-color-text)" />
      </svg>
  </ng-template>
  <ng-template pTemplate="item" let-item let-root="root">
      <a pRipple class="flex align-items-center p-menuitem-link">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
          <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
          <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{ item.shortcut }}</span>
          <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
      </a>
  </ng-template>
  <ng-template pTemplate="end">
      <div class="flex align-items-center gap-2">
          <input type="text" pInputText placeholder="Search" class="w-8rem sm:w-auto" />
          <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
      </div>
  </ng-template>
</p-menubar>
