<div class="card mainContent">
  <p-menubar>
    <ng-template pTemplate="start">
      <div class="d-flex ml-1 align-items-center" style="gap: 5%">
        <i class="pi pi-align-justify"></i>
        <p-iconField iconPosition="left">
          <p-inputIcon styleClass="pi pi-search" />
          <input
            type="text"
            pInputText
            placeholder="Search"
            class="inputSearch"
          />
        </p-iconField>
      </div>
    </ng-template>

    <ng-template pTemplate="end">
      <div class="d-flex align-items-center gap-2">
        <i
          style="cursor: pointer"
          class="pi pi-bell mr-2 p-text-secondary"
          pBadge
          value="2"
        ></i>
        <p-dropdown
          [options]="countries"
          [(ngModel)]="selectedCountry"
          optionLabel="name"
          placeholder="Linguagem"
        >
          <ng-template pTemplate="selectedItem">
            <div
              class="d-flex align-items-center gap-2"
              *ngIf="selectedCountry"
            >
              <img
                src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                [class]="'flag flag-' + selectedCountry.code.toLowerCase()"
                style="width: 18px"
              />
              <div>{{ selectedCountry.name }}</div>
            </div>
          </ng-template>
          <ng-template let-country pTemplate="item">
            <div class="d-flex align-items-center gap-2">
              <img
                src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                [class]="'flag flag-' + country.code.toLowerCase()"
                style="width: 18px"
              />
              <div>{{ country.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>


        <div class="card d-flex flex-row gap-3 align-items-center pl-2 pr-3 profile">
          <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          shape="circle"
          />
          <div class="d-flex flex-column">
            <p class="p-text-secondary" style="font-weight: 600;">Ghabs</p>
            <p class="p-text-secondary" style="    font-size: small;">Administrador</p>
          </div>
          </div>

      </div>
    </ng-template>
  </p-menubar>
</div>
