<p-menu [model]="items" styleClass="w-full h-full md:w-15rem">
  <ng-template pTemplate="start">
    <div class="d-flex align-items-center justify-content-center mt-3">
      <h3 class="text-primary font-bold">Sistema</h3>
    </div>
  </ng-template>
  <ng-template pTemplate="submenuheader" let-item>
      <span class="text-primary font-bold">{{ item.label }}</span>
  </ng-template>
  <ng-template pTemplate="item" let-item>
      <a pRipple class="flex align-items-center p-menuitem-link" [routerLink]="item.route">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
          <p-badge *ngIf="item.badge" class="ml-auto" [value]="item.badge" />
      </a>
  </ng-template>
</p-menu>
