@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap");

.mainComponente {
  background: linear-gradient(to bottom right, #dfdfdf, #dbdbdb);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.login {
  background-color: #fff;
  border-radius: 15px;
}

.mainComponente {
  text-align: center;
}

.btn-login {
  border: #fff;
  width: 100%;
  border-radius: 20px;
  padding: 10px 0;
  font-size: 22px;
}

h1,
h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
}

.grid-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 18px;
}

.login-grid {
  background-color: #1a2940;
  gap: 40px !important;
  padding: 40px !important;
  border-radius: 15px 0px 0px 15px;
}

form {
  gap: 10px;
}
a {
  color: #0077ff;
}
.input-group {
  border-radius: 10px;
  padding: 10px 5px;
}

.logo {
  width: 100%;
  padding: 80px;
}
