<div
  class="mainComponente d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <div style="width: 60%" class="shadow login">
    <div class="grid-group">
      <div class="d-flex flex-column px-2 justify-content-center login-grid">
        <h2 class="card-title">
          Criar Conta
        </h2>
        <form [formGroup]="registerForm">
          <div class="form-group mb-3">
            <input
              type="text"
              id="loginName"
              pInputText
              class="form-control input-group"
              formControlName="name"
              placeholder="Nome Completo"
              required
            />
          </div>
          <div class="form-group mb-3">
            <input
              type="email"
              pInputText
              id="loginEmail"
              class="form-control input-group"
              formControlName="email"
              placeholder="Email"
              required
            />
          </div>

          <div class="form-group mb-5">
            <input
              type="password"
              id="loginPassword"
              formControlName="password"
              class="form-control input-group"
              placeholder="Senha"
              required
            />
          </div>
          <button
            class="btn btn-primary btn-login"
            type="button"
            pButton
            (click)="registrar()"
          >
            Criar Conta
          </button>
        </form>
       <span>Possui Conta? <a href="/auth/login">Entrar</a></span>
      </div>
      <div>
        <img class="logo" src="assets/register.png" alt="" />
      </div>
    </div>
  </div>
</div>
